
%icon {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content:"\e107";
}
%icon-danger-sign {
  @extend %icon;
  content:"\e101";
}
%icon-info-sign {
  @extend %icon;
  content:"\e086";
}
%icon-ok-sign {
  @extend %icon;
  content:"\e084";
}
%icon-search {
  @extend %icon;
  content:"\e003";
}
